img {
  float: Left;
  padding: 4px;

}
.sidebar {
  width: 70%;
  float: right;
  background-color: yellow;
  font-weight: bold;
  border: 7px;
  padding: 80px;
  margin: 1px;
}
p {
  font-size: xx-large;
  font-style: oblique;
  text-align: center;

}